Repository EliNiperd/medical-inventory: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=13

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=13"
  ],
  "*.{json,md,mdx,css,html,yml,yaml}": [
    "prettier --write"
  ]
}

eslin(warn) - Se elimina la mayoría de los warning generados por eslint
  .lintstagedrc.json
  app/api/debug/route.js
  app/api/deepSeek/api-medical-name-data.js
  app/api/gemini/medicines/suggestions/route.js
  app/hooks/useFormValidation.js
  app/lib/auth-actions.js
  app/lib/db-wake-up.js
  auth.js
  components/ui/use-toast.js
Due: prettier --write, eslint --fix --max-warnings=13

(add/fix) - Se agrega ordenamiento inicial para responsible-table
  .gitignore
  .vscode/settings.json
  app/ui/components/responsive-table/responsible-table.jsx
  app/ui/components/tables/CategoriesResponsiveTable.jsx
  app/ui/components/tables/FormsResponsiveTable.jsx
  app/ui/components/tables/LocationsResponsiveTable.jsx
  public/manifest.json
Due: prettier --write, eslint --fix --max-warnings=13

feat(web): se agrega en las opciones del menú una mejor distribución y reactividad
  app/ui/dashborad/nav-links.jsx
Due: prettier --write, eslint --fix --max-warnings=13

fix(web): se soluciona en la tabla de medicinas el problema de responsividad
  app/dashboard/medicine/page.jsx
  app/ui/components/tables/MedicinesResponsiveTable.jsx
  app/ui/components/tables/MedicinesTableWrapper.jsx
  app/ui/medicine/medicineList.jsx
  app/ui/medicine/table-medicine.jsx
  app/ui/medicine/table.jsx
Due: prettier --write, eslint --fix --max-warnings=13

feat(backend): se agrega un nuevo Dockerfile personalizado para solucionar el problema al desplegar better-sqlite3
  Dockerfile
Due: none

fix(backend): se modifica el Dockerfile personalizado
  Dockerfile
Due: none

fix(backend): se modifica el uso de better-sqlite3 hacia sqlite3
  app/lib/db-logging.js
  package-lock.json
  package.json
  scripts/analyzeMetrics.js
Due: prettier --write, eslint --fix --max-warnings=13

fix(backend): se modifica el uso de sqlite3 en api/metrics
  app/api/metrics/route.jsx
Due: prettier --write, eslint --fix --max-warnings=13

fix(backend): se ajustan los errores de llamada a sqlite3
  app/lib/withMonitoring.js
  metrics.db
Due: prettier --write, eslint --fix --max-warnings=13

fix(web/backend): se soluciona el problema de responsividad en creación y edición de medicinas
  .gitignore
  GEMINI.md
  app/dashboard/medicine/actions.jsx
  app/dashboard/medicine/create/page.jsx
  app/globals.css
  app/hooks/useFormValidation.js
  app/ui/components/form/form-input.jsx
  app/ui/medicine/create-medicine.jsx
  app/ui/medicine/edit-medicine.jsx
  metrics.db
Due: prettier --write, eslint --fix --max-warnings=13

fix(web/backend): se soluciona problema de validación en CreateMedicineForm
  app/dashboard/medicine/actions.jsx
  app/hooks/useFormValidation.js
  app/ui/medicine/create-medicine.jsx
Due: prettier --write, eslint --fix --max-warnings=13

fix(web/backend) se soluciona para que el botón para cargar o tomar fotografía sea responsivo, acorde a los estilos
  app/api/gemini/medicines/suggestions/route.js
  app/ui/components/form/OCRUploader.jsx
  app/ui/medicine/create-medicine.jsx
  metrics.db
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --max-warnings=13

feat(web) se agrega el esqueleto del dashboard versión 1, con hardcode
  app/dashboard/page.jsx
  app/ui/dashborad/DashboardComponent.jsx
Due: prettier --write, eslint --fix --max-warnings=13

feat(backend) Se integra la carga de datos desde db para el dashboard
  app/api/dashboard/metrics/route.js
  app/api/gemini/medicines/suggestions/route.js
  app/hooks/useDashboard.js
  app/layout.js
  app/lib/dataquery.js
  app/ui/dashborad/DashboardComponent.jsx
  components/providers/ToasterProvider.js
  lib/utils/expiryAlerts.js
  prisma/schema.prisma
Due: prettier --write, eslint --fix --max-warnings=13

feat(web/backend): se integra validación unificada y formulario único para create y update
  Dockerfile
  app/dashboard/medicine/[id]/edit/page.jsx
  app/dashboard/medicine/actions.jsx
  app/dashboard/medicine/create/page.jsx
  app/dashboard/medicine/page.jsx
  app/hooks/useFormValidation.js
  app/ui/category/create-category.jsx
  app/ui/category/edit-category.jsx
  app/ui/components/form/responsive-form-wrapper.jsx
  app/ui/components/responsive-table/responsible-table.jsx
  app/ui/components/tables/MedicinesResponsiveTable.jsx
  app/ui/components/tables/MedicinesTableWrapper.jsx
  app/ui/dashborad/DashboardComponent.jsx
  app/ui/form/create-form.jsx
  app/ui/form/edit-form.jsx
  app/ui/location/create-location.jsx
  app/ui/location/edit-location.jsx
  app/ui/medicine/edit-medicine.jsx
  app/ui/medicine/medicine-form.jsx
  app/ui/medicine/table-medicine.jsx
  app/ui/user/create-user.jsx
  app/ui/user/edit-user.jsx
  eslint.config.mjs
  lib/schemas/category.js
  lib/schemas/form.js
  lib/schemas/location.js
  lib/schemas/medicine.js
  lib/schemas/user.js
  metrics.db
  next.config.mjs
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --max-warnings=13

fix(web/backend): solución de errores de eslint para hacer deploy
  app/dashboard/category/actions.jsx
  app/dashboard/form/actions.jsx
  app/dashboard/location/actions.jsx
Due: prettier --write, eslint --fix --max-warnings=13

feat(web): refactorización para usar un solo botón-delete en los componentes tablas de los catálogos
  app/dashboard/medicine/actions.jsx
  app/ui/category/button-category.jsx
  app/ui/category/button-delete.jsx
  app/ui/components/tables/CategoriesResponsiveTable.jsx
  app/ui/components/tables/FormsResponsiveTable.jsx
  app/ui/components/tables/LocationsResponsiveTable.jsx
  app/ui/components/tables/MedicinesResponsiveTable.jsx
  app/ui/components/tables/UsersResponsiveTable.jsx
  app/ui/components/tables/button-delete.jsx
  app/ui/form/button-delete.jsx
  app/ui/form/button-form.jsx
  app/ui/location/button-delete.jsx
  app/ui/location/button-location.jsx
  app/ui/medicine/button-medicine.jsx
  app/ui/medicine/table-medicine.jsx
  app/ui/user/button-user.jsx
  app/ui/user/table-users.jsx
Due: prettier --write, eslint --fix --max-warnings=13

feat(web): refactorización uso de único ButtonUpdate para update de todos los catálogos
  app/ui/category/button-category.jsx
  app/ui/components/tables/CategoriesResponsiveTable.jsx
  app/ui/components/tables/FormsResponsiveTable.jsx
  app/ui/components/tables/LocationsResponsiveTable.jsx
  app/ui/components/tables/MedicinesResponsiveTable.jsx
  app/ui/components/tables/UsersResponsiveTable.jsx
  app/ui/components/tables/table-actions.jsx
  app/ui/form/button-form.jsx
  app/ui/location/button-location.jsx
  app/ui/medicine/button-medicine.jsx
  app/ui/user/button-user.jsx
Due: prettier --write, eslint --fix --max-warnings=13

feat(web): refactorización uso de único ButtonCreate para create de todos los catálogos
  app/ui/category/button-category.jsx
  app/ui/category/table-category.jsx
  app/ui/components/tables/MedicinesResponsiveTable.jsx
  app/ui/components/tables/button-delete.jsx
  app/ui/components/tables/table-actions.jsx
  app/ui/form/button-form.jsx
  app/ui/form/table-form.jsx
  app/ui/location/button-location.jsx
  app/ui/location/table-location.jsx
  app/ui/medicine/button-medicine.jsx
  app/ui/medicine/table-medicine.jsx
  app/ui/user/button-user.jsx
  app/ui/user/table-users.jsx
Due: prettier --write, eslint --fix --max-warnings=13

fix(web): refactoriación para la llamada de table se elimina redundancia
  app/dashboard/location/actions.jsx
  app/ui/category/table-category.jsx
  app/ui/components/tables/CategoriesTableWrapper.jsx
  app/ui/components/tables/FormsTableWrapper.jsx
  app/ui/components/tables/LocationsTableWrapper.jsx
  app/ui/components/tables/MedicinesResponsiveTable.jsx
  app/ui/components/tables/MedicinesTableWrapper.jsx
  app/ui/components/tables/UsersTableWrapper.jsx
  app/ui/form/table-form.jsx
  app/ui/location/table-location.jsx
  app/ui/medicine/table-medicine.jsx
  app/ui/user/table-users.jsx
Due: prettier --write, eslint --fix --max-warnings=13

fix(web): solución de error compilación table-users.jsx
  app/ui/user/table-users.jsx
Due: prettier --write, eslint --fix --max-warnings=13

feat(web): se integra la v1 del componente DashboardChars para el dashboard
  app/ui/dashborad/DashboardCharts.jsx
  app/ui/dashborad/DashboardComponent.jsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --max-warnings=13

feat(web): se agrega la página de inventario y se integra con el dashboard
  app/dashboard/inventory/page.jsx
  app/hooks/useDashboard.js
  app/ui/components/tables/InventoryTable.jsx
  app/ui/dashborad/DashboardCharts.jsx
  app/ui/dashborad/DashboardComponent.jsx
  metrics.db
Due: prettier --write, eslint --fix --max-warnings=13

feat(web/backend) - se integra carga de creación de medicamento desde el Inventario como modal
  app/dashboard/category/actions.jsx
  app/dashboard/form/actions.jsx
  app/dashboard/location/actions.jsx
  app/dashboard/medicine/create/page.jsx
  app/hooks/useMedicine.js
  app/ui/dashborad/DashboardCharts.jsx
  app/ui/medicine/medicine-form.jsx
  metrics.db
Due: prettier --write, eslint --fix --max-warnings=13

refactor(users): se unifica el formulario de creación y edición de usuarios
  app/dashboard/category/actions.jsx
  app/dashboard/form/actions.jsx
  app/dashboard/location/actions.jsx
  app/dashboard/medicine/actions.jsx
  app/dashboard/user/[id]/edit/page.jsx
  app/dashboard/user/actions.jsx
  app/dashboard/user/create/page.jsx
  app/error.js
  app/hooks/useFormValidation.js
  app/ui/category/table-category.jsx
  app/ui/dashborad/DashboardCharts.jsx
  app/ui/form/table-form.jsx
  app/ui/location/table-location.jsx
  app/ui/user/create-user.jsx
  app/ui/user/edit-user.jsx
  app/ui/user/table-users.jsx
  app/ui/user/user-form.jsx
  lib/schemas/user.js
  metrics.db
  pages/_error.js
Due: prettier --write, eslint --fix --max-warnings=13

refactor(locations): unificación de formularios de ubicación y mejoras en UI/UX
  app/dashboard/location/[id_location]/edit/page.jsx
  app/dashboard/location/actions.jsx
  app/dashboard/location/create/page.jsx
  app/favicon.ico
  app/layout.js
  app/ui/components/custom-toast.jsx
  app/ui/location/create-location.jsx
  app/ui/location/edit-location.jsx
  app/ui/location/location-form.jsx
  app/ui/user/user-form.jsx
  components/ui/sonner.jsx
  public/favicon-32x32.png
  public/icons/icon-192x192.png
  public/icons/icon-512x512.png
  public/manifest.json
  public/next.svg
  public/vercel.svg
Due: prettier --write, eslint --fix --max-warnings=13

refactor(forms): unificación de formularios de forma y mejoras en UI/UX
  app/dashboard/form/[id_form]/edit/page.jsx
  app/dashboard/form/actions.jsx
  app/dashboard/form/create/page.jsx
  app/ui/form/create-form.jsx
  app/ui/form/edit-form.jsx
  app/ui/form/form-form.jsx
Due: prettier --write, eslint --fix --max-warnings=13

refactor(categories): unificación de formularios de categoría y mejoras en UI/UX
  app/dashboard/category/[id_category]/edit/page.jsx
  app/dashboard/category/actions.jsx
  app/dashboard/category/create/page.jsx
  app/ui/category/category-form.jsx
  app/ui/category/create-category.jsx
  app/ui/category/edit-category.jsx
Due: prettier --write, eslint --fix --max-warnings=13

feat(dashboard): mejoras visuales y de datos en los gráficos del dashboard
  app/ui/dashborad/DashboardCharts.jsx
Due: prettier --write, eslint --fix --max-warnings=13

fix: protección de vulnerabilidad reportada en react y next.js
  package-lock.json
  package.json
Due: prettier --write

fix: push for deploy from dokploy
  app/globals.css
Due: prettier --write

deploy medical-inventory
  .github/workflows/deploy.yml
  dockerfile
Due: prettier --write

fix Build and push image in deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

fix error permision
  .github/workflows/deploy.yml
Due: prettier --write

fix variable environment
  .github/workflows/deploy.yml
  dockerfile
Due: prettier --write

fix deploy
  .github/workflows/deploy.yml
Due: prettier --write

fix deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write
