Repository EliNiperd/medical-inventory: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=13

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix --max-warnings=13"
  ],
  "*.{json,md,mdx,css,html,yml,yaml}": [
    "prettier --write"
  ]
}

Fix indentation
  .github/workflows/deploy.yml
Due: prettier --write

fix deploy
  .github/workflows/deploy.yml
Due: prettier --write

fix no run in build metrics
  app/api/dashboard/metrics/route.js
Due: prettier --write, eslint --fix --max-warnings=13

fix no run in build metrics
  .github/workflows/deploy.yml
  app/api/dashboard/metrics/route.js
Due: prettier --write, eslint --fix --max-warnings=13

fix add prima generate in dockerfile
  dockerfile
Due: none

fix dockerfile, clean variables
  dockerfile
Due: none

fix trustedHost for production
  auth.config.js
Due: prettier --write, eslint --fix --max-warnings=13

fix auth trustedHosts
  auth.js
Due: prettier --write, eslint --fix --max-warnings=13

fix auth trustedHosts
  app/api/auth/[...nextauth]/route.js
Due: prettier --write, eslint --fix --max-warnings=13

fix auth trustedHosts
  dockerfile
  next.config.mjs
Due: none

fix auth trustedHosts
  dockerfile
Due: none

fix standlone off in next.config
  dockerfile
  next.config.mjs
Due: none

fix: change bcrypt for bcryptjs package
  auth.js
  middleware.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix --max-warnings=13

fix: reference bcryptjs in app\dashboard\user\actions.jsx
  app/dashboard/user/actions.jsx
Due: prettier --write, eslint --fix --max-warnings=13

fix: log for detect problem
  auth.js
Due: prettier --write, eslint --fix --max-warnings=13

fix: return auth.js originial
  app/api/auth/[...nextauth]/route.js
  auth.js
  next.config.mjs
Due: prettier --write, eslint --fix --max-warnings=13

fix: return auth.js originial
  auth.js
  next.config.mjs
Due: prettier --write, eslint --fix --max-warnings=13

fix: return auth.js originial
  auth.js
  middleware.js
  next.config.mjs
Due: prettier --write, eslint --fix --max-warnings=13

fix: auth.config
  auth.config.js
Due: prettier --write, eslint --fix --max-warnings=13

fix: logout auth v5
  app/lib/auth-actions.js
  middleware.js
Due: prettier --write, eslint --fix --max-warnings=13

fix: middleware for logout works correct
  middleware.js
Due: prettier --write, eslint --fix --max-warnings=13
